<% layout("layoutss/boilerplate") %>
<body>
    <h1>ID:<%=item.id%></h1>
    <form action="/edit/<%=item.id%>?_method=patch" method="post">
        <input type="text" value="<%= item.title %>" name="list[title]">
        <textarea name="list[description]" id="" cols="30" rows="10"><%= item.description %></textarea>
        <input type="number" value="<%= item.price %>"name="list[price]">
        <input type="text" value="<%= item.location %>" name="list[location]">
        <input type="text" value="<%= item.country %>" name="list[country]">
        <button>EDIT</button>
    </form>
</body>